{{ template "head" . }}


<div class="container-md">
    <h1>
        {{ or .Message }}
    </h1>

    {{ template "navbar" . }}
    {{ block "snippet-form" . }}
    <form method="post" action="/snippet/create">
        <div class="form-row">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp"
                    placeholder="title" required>
                <small id="titleHelp" class="form-text text-muted">Snippet title</small>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" class="form-control" id="content" placeholder="Content" required></textarea>
                <small id="contentHelp" class="form-text text-muted">Snippet content</small>
            </div>
            <div class="form-group">
                <label for="expires">Date:</label>
                <input type="date" id="expires" name="expires" value="2026-02-23" min="2026-01-01" max="2028-12-31"
                    required />
                <small id="expiresHelp" class="form-text text-muted">Snippet expiration date</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{ end }}

</div>
{{ template "footer" . }}