{{ template "head" . }}
<div class="container-md">

    {{ template "navbar" . }}

    <h2>
        {{ or .Msg.Deleted }}
    </h2>

    {{ template "snippet-form" . }}

    {{ if .Snippets}}


    {{ $len := len .Snippets }}
    {{ range $index, $snippet := .Snippets }}
    <!-- 3 columns -->
    {{ $nrOfColumns := 3 }}
    {{ $col := mod $index $nrOfColumns }}
    {{ if eq $col 0 }}
    <div class="row">
        {{ end }}

        <div class="col">
            <div class="card mb-3 my-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="/snippet?id={{ .ID }}">{{ .Title }}</a></h5>
                    <div class="card-text">{{ or .Html .Content }}</div>
                    <time class="card-text"><small class="text-muted">Expires: {{ .Expires.Weekday }}, {{
                            .Expires.Format "2006-01-02" }}</small></time>
                    <time class="card-text"><small class="text-muted">Created: {{ .Created.Weekday }}, {{
                            .Created.Format "2006-01-02" }}</small></time>
                    <form method="post" action="/snippet/delete" class="d-flex flex-row-reverse">
                        <input type="hidden" name="id" value="{{ .ID }}">
                        <button type="submit" class="btn btn-link my-2 ml-5"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {{ if eq $col (sub $nrOfColumns 1) }}
    </div>
    {{ else if eq $index (sub $len 1) }}
</div>
{{ end }}



{{ end }}




{{ else }}
<p>No snippets available.</p>
{{ end }}
</div>
{{ template "footer" . }}



<!-- tpl := template.Must(template.New("").Funcs(template.FuncMap{
		"formatDate": func(t any) string {
			if date, ok := t.(string); ok {
				return date
			}
			return ""
		},
	}).ParseGlob("./cmd/ui/html/*.html")).ExecuteTemplate -->